.navbar-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

.fa-globe{
    color: #fff;
    cursor: pointer;
}

.navbar-header .logo{
    flex: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.navbar-header h2{
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 3px;
}

.navbar-header ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.navbar-header ul li{
    list-style: none;
}

.navbar-header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

.navbar-header ul li a:hover{
    border-bottom: 2px solid #A3CEFF;
}
.navbar-header .menu{
    font-size: 2.5em;
    display: none;
}